extends layout

block body

  div(ng-controller='TestSocketCtrl') hello world!
    p {{ message }} {{ payloadSize }}

  script(src='components/angular/angular.js')
  script(src='components/angular-cookies/angular-cookies.js')
  script(src='components/angular-route/angular-route.js')
  script(src='components/angular-socket-io/socket.js')
  script(src='http://localhost:3000/socket.io/socket.io.js')
  link(src='components/bootstrap/dist/css/bootstrap.css')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
