doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Hawaii Campaign Finance Visualizations
    link(rel='stylesheet', href='/css/theme.css')
    script(src='http://localhost:3000/socket.io/socket.io.js')
  body
    block body