doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Hawaii Campaign Finance Visualizations
    link(rel='stylesheet', href='/css/theme.css')
  body
    block body